In [1]:
import pandas as pd

In [2]:
aid_data = pd.read_csv('../data/aiddata/AidDataCoreDonorRecipientYearPurpose_ResearchRelease_Level1_v3.1.csv')

In [3]:
aid_data.head()

,donor,recipient,year,coalesced_purpose_code,coalesced_purpose_name,commitment_amount_usd_constant_sum
0,African Capacity Building Foundation (ACBF),"Africa, Regional Programs, Regional Programs",2000,11420.0,Higher education,6239039
1,African Capacity Building Foundation (ACBF),"Africa, Regional Programs, Regional Programs",2001,16020.0,Employment policy and administrative management,2440107
2,African Capacity Building Foundation (ACBF),"Africa, Regional Programs, Regional Programs",2004,15110.0,Economic and development policy/planning,2498245
3,African Capacity Building Foundation (ACBF),"Africa, Regional Programs, Regional Programs",2004,60010.0,Action relating to debt,1873684
4,African Capacity Building Foundation (ACBF),"Africa, Regional Programs, Regional Programs",2005,11420.0,Higher education,7045749

In [10]:
print(aid_data.donor.value_counts().to_dict())

{'United States': 56631, 'Germany': 51193, 'France': 50875, 'Spain': 38655, 'Canada': 35829, 'Norway': 31935, 'Japan': 31220, 'United Kingdom': 29545, 'United Nations Children`s Fund (UNICEF)': 29254, 'Belgium': 28236, 'Netherlands': 25669, 'Italy': 24853, 'Sweden': 24513, 'European Communities (EC)': 24448, 'Australia': 23917, 'Switzerland': 20483, 'United Nations Development Programme (UNDP)': 14802, 'Korea': 14577, 'Finland': 13015, 'Austria': 12068, 'Ireland': 11018, 'Denmark': 8339, 'World Bank - International Development Association (IDA)': 6903, 'Portugal': 6695, 'Asian Development Bank (ASDB)': 6608, 'Luxembourg': 6274, 'New Zealand': 6088, 'World Bank - International Bank for Reconstruction and Development (IBRD)': 6018, 'United Nations Population Fund (UNFPA)': 5836, 'Inter-American Development Bank (IADB)': 5418, 'Greece': 5348, 'Global Environment Facility (GEF)': 2947, 'World Health Organization (WHO)': 2832, 'World Bank - International Finance Corporation (IFC)': 2623, 'Islamic Development Bank (ISDB)': 2427, 'OPEC Fund for International Development (OFID)': 2359, 'African Development Fund (AFDF)': 2146, 'Joint United Nations Programme on HIV/AIDS (UNAIDS)': 2102, 'European Bank for Reconstruction & Development (EBRD)': 1799, 'Czech Republic': 1693, 'International Fund for Agricultural Development (IFAD)': 1571, 'Caribbean Development Bank (CDB)': 1509, 'Arab Fund for Economic & Social Development (AFESD)': 1353, 'African Development Bank (AFDB)': 1243, 'United Arab Emirates': 1191, 'Arab Bank for Economic Development in Africa (BADEA)': 1179, 'Kuwait': 1131, 'Asian Development Fund (ASDF)': 1071, 'Global Alliance for Vaccines & Immunization (GAVI)': 985, 'Global Fund to Fight Aids, Tuberculosis and Malaria (GFATM)': 957, 'Brazil': 860, 'Bill & Melinda Gates Foundation': 763, 'International Monetary Fund (IMF)': 674, 'Liechtenstein': 635, 'Andean Development Corporation (CAF)': 579, 'Saudi Arabia': 559, 'Slovak Republic': 493, 'World Bank - Managed Trust Funds': 431, 'Thailand': 423, 'Chile': 402, 'Estonia': 399, 'India': 363, 'Taiwan': 351, 'Poland': 329, 'Iceland': 277, 'Organization for Security and Co-operation in Europe (OSCE)': 275, 'Hungary': 264, 'Asian Development Bank (AsDB Special Funds)': 246, 'Nordic Development Fund (NDF)': 243, 'Slovenia': 243, 'World Trade Organization (WTO)': 242, 'United Nations Economic Commission for Europe (UNECE)': 232, 'United Nations Democracy Fund (UNDEF)': 220, 'Lithuania': 193, 'Cyprus': 171, 'Colombia': 168, 'United Nations High Commissioner for Refugees (UNHCR)': 158, 'Monaco': 157, 'United Nations Peacebuilding Fund (UNPBF)': 151, 'North American Development Bank (NADB)': 150, 'African Capacity Building Foundation (ACBF)': 124, 'World Bank - Carbon Finance Unit': 102, 'Latvia': 85, 'Nigerian Trust Fund (NTF)': 78, 'South Africa': 52, 'United Nations Relief and Works Agency for Palestine Refugees in the Near East (UNRWA)': 48, 'Romania': 42, 'Global Green Growth Institute (GGGI)': 38, 'Multilateral Fund for the Implementation of the Montreal Protocol': 33, 'Congo Basin Forest Fund (CBFF)': 11, 'World Bank - Debt Reduction Facility': 7, 'Qatar': 6, 'Global Partnership for Education': 6, 'United Nations Economic and Social Commission for Western Asia (UNESCWA)': 3, 'United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP)': 3, 'World Trade Organization (WTO) - International Trade Centre': 1}

In [11]:
honig = pd.read_csv('../data/aid_projects.csv')

/home/luke/miniconda3/envs/causal/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (11,12,13,15,16,18,20,22,23,24,25,26,27,28,29,32,33,35,36,37,38,40,42,43,44,45,46,88,93,94,95,96,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,114,115,119,120,121,122,123,124,125,129,132,133,134,150,151,152,153,154,155,181,182,183) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
honig.head()

,ppd_project_id,donor_name,six_overall_rating,country_code,office_presence,project_duration,eval_lag,crs_purpose_code,crs_purpose_sector,aid_type,...,kfw_sustainability_rating,ifad_government_partner_rating,wb_government_partner_rating,mmg_purpose_sector,mmg_purpose_sectorname,mmg_purpose_code,mmg_purpose_codename,wb_project_id,gfatm_project_id,giz_project_id
0,1,AsianDB,4.5,CHN,1.0,2555.0,730.0,NaN,NaN,NaN,...,NaN,NaN,NaN,14020,Water supply and sanitation - large systems,140,WATER AND SANITATION,NaN,NaN,NaN
1,2,AsianDB,4.5,COO,0.0,1825.0,0.0,22040.0,220.0,L,...,NaN,NaN,NaN,22040,Information and communication technology (ICT),220,COMMUNICATION,NaN,NaN,NaN
2,3,AsianDB,1.5,PHI,1.0,2190.0,730.0,NaN,NaN,NaN,...,NaN,NaN,NaN,14010,Water sector policy and administrative management,140,WATER AND SANITATION,NaN,NaN,NaN
3,4,AsianDB,4.5,NEP,1.0,6570.0,1095.0,21050.0,210.0,L,...,NaN,NaN,NaN,21050,Air transport,210,TRANSPORT AND STORAGE,NaN,NaN,NaN
4,5,AsianDB,4.5,SRI,1.0,1825.0,0.0,24010.0,240.0,L,...,NaN,NaN,NaN,24010,Financial policy and administrative management,240,BANKING AND FINANCIAL SERVICES,NaN,NaN,NaN

In [13]:
honig.donor_name.value_counts()

WB         7146
KfW        2229
DFID       1917
AsianDB    1572
JICA        723
GFATM       581
GiZ         129
IFAD         55
Name: donor_name, dtype: int64

In [14]:
# okay code the above for "is in"
# then sum the amounts from 1990 onwards